* {
  @import "reset.css";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';font-size: 14px;line-height:145%
}
.page {
  display: flex;
  flex-wrap: wrap;
}
.greybar{
  background-image: linear-gradient(#d0d0d0, #efefef);
  height: 80px;
  width: 100%;
  position:fixed;
  z-index:1;
  top:0;
}
.navigation{
  width: 100%;
}
#worldLogo{
  display:flex;
  width:150px;
  height:80px;
  background-image:url('images/world_data_logo_v1.png');
  background-position:0 0;
  margin-left: 18px;
  margin-right: 18px;
  border-style: none;
}
#worldLogo:hover{
  background-position:0 80px;
  background-color: inherit;
}
.topnav {
  top:0;
  position: fixed;
  overflow: hidden;
  /*height: 80px;*/
  width: 100%;
  z-index:1;
}
/* Style the links inside the navigation bar */
.topnav a {
 float: left;
 display: block;
 color: #575757;
 text-align: center;
 padding: 30px 0px;
 text-decoration: none;
 font-size: 14px;
 width: 100px;
 border: 1px #cccccc;
 border-style: solid;
 transition: background-color 1s;
}

/* Change the color of links on hover */
.topnav a:hover {
 color: black;
 background-color: #cccccc;
}

/* Add an active class to highlight the current page */
.topnav a.active {
 background-color: #4CAF50;
 color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
 display: none;
}


.content {
  display: flex;
  flex-wrap: wrap;

}
.headline{
  margin-top: 100px;
}
.headline h1{
  font-size: 30px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.textfeld{
  width: 100%;
  height: auto;
  column-count: 1;
  margin: 10px;
  border-top: : 30px #58FA58;
  border-left: 3px #cccccc;
  border-right: 3px #cccccc;
  border-bottom: 3px #cccccc;
  border-style: solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 2px #cccccc;
}





footer {
  position:fixed;
  z-index:1;
  bottom:0;
  list-style-type: none;
  overflow: hidden;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
/* Mobile Styles */
@media only screen and (max-width: 767px) {
  body {
    background-color: #F09A9D; /* Red */
  }
/*.topnav a:not(:first-child) {display: none;}*/
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive #icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 100px;
    text-align: center;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    border-style: none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
  .textfeld{
    column-count: 2;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1200px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
  .foot,
  .content,
  .topnav {
    width: 1170px;
    margin: 0 auto;
  }
  .textfeld{
    column-count: 3;
  }
}
